<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Document</title>
</head>

<body>
<div id="app">
    <span v-if="item > 10" v-for="item in list">{{item}}&nbsp;</span>
</div>
<script src="./vue.js"></script>
<script>
//     **`任务`**: 

// 1. 初始化一个Vue实例
// 2. 定义一个 list:[ 4,4,3,2,22,2,4643,443,44,34,5,3 ]

// 3 将大于10 的列表渲染出来 使用v-for 和v-if
    var vm = new Vue({
        el:'#app',
        data:{
            list:[4,4,3,2,22,2,4643,443,44,34,5,3],
            show : true,
        },
        methods:{}
    });
</script>
</body>

</html>